html,
body,
#root {
  height: 100%;
  margin: 0;
}

body,
#root {
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

/* Footer sticks to bottom */
.footer {
  flex-shrink: 0;
}
